<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/default_layout :: layout(~{::title}, ~{::section})}">
<head>
    <title>Arama Sonuçları</title>
</head>
<body>

<section class="locations-1" id="locations">
    <div class="locations py-5">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="heading text-center mx-auto">
                <h3 class="title-big">Arama Sonuçları (<span th:text="${#lists.size(products)}"></span>)</h3>
            </div>
            <div class="row pt-md-5 pt-4">
                <th:block th:if="${not #lists.isEmpty(products)}">
                    <div class="col-lg-4 col-md-6 mb-3" th:each="item : ${products}">
                        <a th:href="@{/property/{id}(id=${item.getProductID()})}">
                            <div class="box16">
                                <div class="rentext-listing-category"><span th:text="${item.getType()}"></span><span th:text="${item.getCategoryName()}"></span></div>
                                <img class="img-fluid" style="height:200px;width:700px" th:src="${item.getCoverImage()}" alt="">
                                <div class="box-content">
                                    <h3 class="title">₺ <span th:text="${item.getPrice()}"></span></h3>
                                    <span class="post" th:text="${item.getAddress() + ' ' + item.getDistrict() + ' - ' + item.getCity()}"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </th:block>
                <th:block th:if="${#lists.isEmpty(products)}">
                    <h3 style="min-height:5em;">Aradığınız kriterlere uygun ilan bulunamadı. Lütfen tekrar deneyin.</h3>
                </th:block>
            </div>
        </div>
    </div>
</section>

</body>
</html>
