<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tr.com.huseyinaydin.repository.ProductRepository">
    <select id="getAllProductWithCategory" resultType="tr.com.huseyinaydin.dto.product.ResultProductWithCategoryDto">
        Select ProductID, Title, Price, City, District, CategoryName, CoverImage, Type, Address, DealOfTheDay, ProductStatus, SlugUrl 
        From Product inner join Category on Product.ProductCategory=Category.CategoryID 
        where ProductStatus=1
    </select>

    <insert id="createProduct" parameterType="tr.com.huseyinaydin.dto.product.CreateProductDto">
        insert into Product (Title, Price, City, District, CoverImage, Address, Description, Type, DealOfTheDay, AdvertisementDate, ProductStatus, ProductCategory, AppUserId) 
        values (#{title}, #{price}, #{city}, #{district}, #{coverImage}, #{address}, #{description}, #{type}, #{dealOfTheDay}, #{advertisementDate}, #{productStatus}, #{productCategory}, #{appUserId})
    </insert>

    <delete id="deleteProduct" parameterType="int">
        Delete From Product Where ProductID=#{id}
    </delete>

    <update id="productStatusChangeToTrue" parameterType="int">
        Update Product set ProductStatus=1 where ProductID=#{id}
    </update>

    <update id="productStatusChangeToFalse" parameterType="int">
        Update Product set ProductStatus=0 where ProductID=#{id}
    </update>
    <select id="getProductAdvertListByEmployeeAsyncByTrue" resultType="tr.com.huseyinaydin.dto.product.ResultProductAdvertListWithCategoryByEmployeeDto">
        Select ProductID, Title, Price, City, District, CategoryName, CoverImage, Type, Address, DealOfTheDay From Product inner join Category on Product.ProductCategory=Category.CategoryID where AppUserId=#{id} And ProductStatus=1
    </select>
    <select id="getProductAdvertListByEmployeeAsyncByFalse" resultType="tr.com.huseyinaydin.dto.product.ResultProductAdvertListWithCategoryByEmployeeDto">
        Select ProductID, Title, Price, City, District, CategoryName, CoverImage, Type, Address, DealOfTheDay From Product inner join Category on Product.ProductCategory=Category.CategoryID where AppUserId=#{id} And ProductStatus=0
    </select>
    <select id="getLast5ProductAsync" resultType="tr.com.huseyinaydin.dto.product.ResultProductWithCategoryDto">
        Select ProductID, Title, Price, City, District, CategoryName, CoverImage, Type, Address, DealOfTheDay, ProductStatus, SlugUrl
        From Product inner join Category on Product.ProductCategory=Category.CategoryID
        where ProductStatus=1
        Order By ProductID Desc
        Limit 5
    </select>
</mapper>
