<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tr.com.huseyinaydin.repository.PropertyAmenityRepository">
    <select id="getPropertyAmenityByStatusTrue" resultType="tr.com.huseyinaydin.dto.propertyamenity.ResultPropertyAmenityByStatusTrueDto">
        Select PropertyAmenityId, Title From PropertyAmenity inner join Amenity on PropertyAmenity.AmenityId=Amenity.AmenityId where PropertyId=#{id} and Status=1
    </select>
</mapper>
