<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tr.com.huseyinaydin.repository.TestimonialRepository">
    <select id="getAllTestimonial" resultType="tr.com.huseyinaydin.dto.testimonial.ResultTestimonialDto">
        Select * From Testimonial
    </select>
</mapper>
