<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/admin_layout :: head}"></head>
<body>
    <div class="container-fluid position-relative d-flex p-0">
        <div th:replace="~{layout/admin_layout :: sidebar}"></div>
        <div class="content">
            <nav th:replace="~{layout/admin_layout :: navbar}"></nav>
            <div class="container-fluid pt-4 px-4">
                <div class="bg-white shadow-sm text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">İlan Listesi</h6>
                    </div>
                    <div class="table-responsive">
                        <table class="table text-start align-middle table-bordered table-hover mb-0">
                            <thead>
                                <tr class="text-dark">
                                    <th scope="col">#</th>
                                    <th scope="col">İlan Başlığı</th>
                                    <th scope="col">Şehir</th>
                                    <th scope="col">Semt</th>
                                    <th scope="col">Kategori</th>
                                    <th scope="col">Fiyat</th>
                                    <th scope="col">Tür</th>
                                    <th scope="col">İşlemler</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="item : ${products}">
                                    <td th:text="${item.productID}"></td>
                                    <td th:text="${item.title}"></td>
                                    <td th:text="${item.city}"></td>
                                    <td th:text="${item.district}"></td>
                                    <td th:text="${item.categoryName}"></td>
                                    <td th:text="${item.price}"></td>
                                    <td th:text="${item.type}"></td>
                                    <td>
                                        <a class="btn btn-sm btn-danger" th:href="@{'/admin/products/delete/' + ${item.productID}}">Sil</a>
                                        <a th:if="${item.productStatus}" class="btn btn-sm btn-warning" th:href="@{'/admin/products/status-false/' + ${item.productID}}">Pasif Yap</a>
                                        <a th:if="${!item.productStatus}" class="btn btn-sm btn-success" th:href="@{'/admin/products/status-true/' + ${item.productID}}">Aktif Yap</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div th:replace="~{layout/admin_layout :: footer}"></div>
        </div>
    </div>
    <div th:replace="~{layout/admin_layout :: scripts}"></div>
</body>
</html>
