<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/admin_layout :: head}"></head>
<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <div th:replace="~{layout/admin_layout :: sidebar}"></div>
        <div class="content">
            <nav th:replace="~{layout/admin_layout :: navbar}"></nav>
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-line fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Kategori Sayısı</p>
                                <h6 class="mb-0" th:text="${categoryCount}">0</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-bar fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Ürün Sayısı</p>
                                <h6 class="mb-0" th:text="${productCount}">0</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-area fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Aktif Kategori</p>
                                <h6 class="mb-0" th:text="${activeCategoryCount}">0</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-pie fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Pasif Kategori</p>
                                <h6 class="mb-0" th:text="${passiveCategoryCount}">0</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-home fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Daire Sayısı</p>
                                <h6 class="mb-0" th:text="${apartmentCount}">0</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-city fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Şehir Sayısı</p>
                                <h6 class="mb-0" th:text="${differentCityCount}">0</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-user fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Aktif Personel</p>
                                <h6 class="mb-0" th:text="${activeEmployeeCount}">0</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-tags fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Son İlan Fiyatı</p>
                                <h6 class="mb-0" th:text="${lastProductPrice}">0</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:replace="~{layout/admin_layout :: footer}"></div>
        </div>
    </div>
    <div th:replace="~{layout/admin_layout :: scripts}"></div>
</body>
</html>
